  /* Basic Styles */
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

header {
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border: 1px solid white;
  justify-content: center;
  padding-left: 200px;
}

section {
  background-color: rgba(53, 53, 53, 0.5);
}

/* Header */

.headerName {
  display: block;
  font-size:55px;
}

.about {

  font-size: 15px;
  background-color: rgba(53, 53, 53, 0.5);
  height: 35%;
  width: 40%;
  padding: 0px 40px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutText {
  margin: 0px;
}
